@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

.loading-modal {
  outline: none;
  border: none;
  background: #aaaaaa;
  width: 100%;
  height: 100%;
}

.loading-modal h1::after {
  display: inline-block;
  animation: dotty steps(1,end) 1s infinite;
  content: '';
}

.loading-table h1::after{
  display: inline-block;
  animation: dotty steps(1,end) 1s infinite;
  content: '';
}

.header {
  margin: 1.5em;
}

.count {
  margin-left: 1em;
  margin-right: 1em;
  font-weight: bold;
  font-variant-numeric: tabular-nums;
}

.url {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.button {
  display: inline-block;
  margin: 0.5em;
  padding: 15px 25px;
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1d35a0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #4882ff
}

.button:active {
  background-color: #1d35a0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
}

thead {
  text-align: left;
  border-bottom: 2px solid #424141;
}

th {
  padding: 0.5em;
  margin-right: 5px;
  margin-left: 5px;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
}

td {
  padding: 0.5em;
  margin-right: 5px;
  margin-left: 5px;
  font-family: Sans-Serif;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
}

.parameter {
  width: 6em;
  height: 2em;
}

.search-box {
  padding: 0.2em;
  font-size: x-large;
  width: 20em;
}

/* Style for accordion */
/* Style the buttons that are used to open and close the accordion panel */
 .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1em;
  margin: 1em;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 1em;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* Style for tabs */
.tab {
  float: left;
  height: 36px;
  margin: 0 8px -1px 0;
  border: 1px solid #DAE0E7;
  border-bottom: 4px solid #DAE0E7;
  background: #F9F9F9;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.active-tab {
  border-bottom: 4px solid #5e0000;
}

.hidden-section {
  display: none;
}
